#root {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 46px 1fr;
  grid-template-areas: ". filter" "sidebar table";
  min-height: 100vh;
}

.tables {
  grid-area: sidebar;
}

.table-container {
  grid-area: table;
}
