@import "./colors.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--neutral-900);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--neutral-75);
}

#root {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 46px 1fr;
  grid-template-areas: "logo filter" "sidebar table";
  min-height: 100vh;
}
