.container {
  grid-area: sidebar;
  padding-top: 20px;
  padding-left: 20px;
  border: thin var(--green-400) solid;
  background: var(--neutral-50);

  ul {
    list-style: none;
    border: none;
    padding: 0;
    margin: 0;
  }
}

.item {
  padding: 10px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 3px;

  &:hover {
    background-color: var(--green-50);
  }

  &.selected {
    background-color: var(--green-300);
  }
}
