.tables {
  margin: 0px 0px 20px 20px;
  padding-top: 20px;
  padding-left: 20px;
  list-style: none;
  border: thin lightgray solid;

  li {
    padding: 10px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 3px;

    &:hover {
      background-color: #f0f0f0;
    }

    &.selected {
      background-color: lightgreen;
    }
  }
}
