.tables {
  padding-top: 20px;
  padding-left: 20px;
  border: thin #c8d0a8 solid;
  background: #fbfbf6;

  ul {
    list-style: none;
    border: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 10px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 3px;

    &:hover {
      background-color: #eef0d8;
    }

    &.selected {
      background-color: #c4d8a0;
    }
  }
}
