.portal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(165, 165, 165, 0.527);

  .close {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .portal-inner {
    position: relative;
    width: 1000px;
    height: 800px;
    max-width: calc(100% -10px);
    max-height: calc(100% -10px);
    border: thin #7a8a50 solid;
    background: #fcfcf7;
    padding: 30px;
    overflow: auto;
  }
}
