.backdrop {
  position: fixed;
  inset: 0;
  background: var(--overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal {
  width: 1000px;
  height: 800px;
  max-width: calc(100% - 10px);
  max-height: calc(100% - 10px);
  border: thin var(--green-600) solid;
  background: var(--neutral-25);
  padding: 30px;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.close {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 2px 6px;
  background: none;
  border: thin var(--green-600) solid;

  &:focus-visible {
    outline: 2px solid var(--green-700);
    outline-offset: 2px;
  }
}
