.selected-row {
  ul {
    list-style: none;
    padding: 0px;
  }

  li {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-left: 0px;
    margin-bottom: 5px;
  }

  input,
  .property-value {
    margin-left: 30px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .edit,
    .save {
      background: #3a7a2d;
      color: white;
    }

    .cancel {
      background: #d8dcb8;
      margin-right: 10px;
    }
  }
}
