.filter {
  grid-area: filter;
  background: white;
  padding-bottom: 20px;
  padding-top: 20px;
  select {
    margin-left: 10px;
  }

  label {
    margin-left: 15px;
    span {
      margin-right: 5px;
    }
  }

  .removeFilter {
    position: relative;
    top: 2px;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 5px;
    cursor: pointer;
    color: red;
  }
}
