.filter {
  grid-area: filter;
  background: var(--neutral-100);
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;

  select {
    margin-left: 10px;
    font-size: inherit;
  }

  label {
    display: flex;
    align-items: center;

    span {
      margin-right: 5px;
    }

    input {
      box-sizing: border-box;
    }
  }
}

.filterInput {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.removeFilter {
  background: none;
  border: none;
  padding: 0;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 5px;
  cursor: pointer;
  color: var(--red-500);
}
