.table-container {
  margin-right: 20px;
  border-right: thin #c8d0a8 solid;
  margin-bottom: 20px;
  background: #dae2c4;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .table-scroll {
    overflow-x: auto;
    flex: 1;
  }

  table {
    width: 100%;
    background: #fcfcf7;
    border-collapse: collapse;
  }

  thead {
    background: #c8d0a8;
  }

  tbody tr:first-child td {
    padding-top: 20px;
  }

  th {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: horizontal;
    white-space: nowrap;
    padding: 5px 16px;
    border-right: 1px solid #b0b898;

    &:last-child {
      border-right: none;
    }
  }

  td {
    padding: 5px 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80ch;
  }

  tbody tr:nth-child(even) {
    background: #f0f3e6;
  }

  .date {
    text-align: right;
  }
}
