.container {
  grid-area: table;
  margin-right: 20px;
  border-right: thin var(--green-400) solid;
  margin-bottom: 20px;
  background: var(--green-100);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  table {
    width: 100%;
    background: var(--neutral-25);
    border-collapse: collapse;
  }

  thead {
    background: var(--green-400);
  }

  tbody tr:first-child td {
    padding-top: 20px;
  }

  th {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: horizontal;
    white-space: nowrap;
    padding: 5px 16px;
    border-right: 1px solid var(--green-500);

    &:last-child {
      border-right: none;
    }
  }

  td {
    padding: 5px 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80ch;
  }

  tbody tr:nth-child(even) {
    background: var(--neutral-100);
  }
}

.scroll {
  overflow-x: auto;
  flex: 1;
}

.date {
  text-align: right;
}
