.table-container {
  margin-right: 20px;
  border-right: thin lightgray solid;
  margin-bottom: 20px;
  background: rgb(228, 228, 228);

  table {
    width: 100%;
    table-layout: fixed;
    background: white;
    border-collapse: collapse;
  }

  thead {
    background: lightgrey;
  }

  tbody tr:first-child td {
    padding-top: 20px;
  }

  th {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: horizontal;
    white-space: nowrap;
  }

  td {
    padding: 5px 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tbody tr:nth-child(even) {
    background: #f1f1f1;
  }

  .date {
    text-align: right;
  }
}
