.pagination {
  display: flex;
  justify-content: center;
  padding: 4px 0;
  flex-shrink: 0;
  background: #f5f7f0;
  border-bottom: thin #c8d0a8 solid;


  button {
    background: #fbfbf6;
    border: 1px solid #c8d0a8;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  span {
    margin: 2px 5px;
    font-weight: normal;
  }
}
