.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    background: white;
    border: 1px solid lightgrey;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  span {
    margin: 2px 5px;
    font-weight: bold;
  }
}
