.pagination {
  display: flex;
  justify-content: center;
  padding: 4px 0;
  flex-shrink: 0;
  background: var(--neutral-75);
  border-bottom: thin var(--green-400) solid;

  button {
    background: var(--neutral-50);
    border: 1px solid var(--green-400);
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  span {
    margin: 2px 5px;
    font-weight: normal;
  }
}
