.pagination {
  display: flex;
  justify-content: center;
  padding: 4px 0;
  flex-shrink: 0;
  background: white;
  border-bottom: thin lightgray solid;


  button {
    background: white;
    border: 1px solid lightgrey;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  span {
    margin: 2px 5px;
    font-weight: normal;
  }
}
