.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  min-height: 100vh;

  h2 {
    font-size: 18px;
    font-weight: 600;
    color: var(--neutral-800);
  }

  button {
    padding: 8px 16px;
    background: var(--green-800);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: var(--green-900);
    }
  }
}
