.customer-table {
  table {
    width: 100%;
  }

  thead {
    background: lightgrey;
    margin-bottom: 20px;
  }

  tbody tr:first-child td {
    padding-top: 20px;
  }

  th {
    cursor: pointer;
  }

  td {
    padding: 5px 10px;
    cursor: pointer;
  }

  tbody tr:nth-child(even) {
    background: #f1f1f1;
  }
}
